@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-montserrat: "Montserrat", sans-serif;
}
@keyframes gradient-text-flow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.animate-multi-gradient {
    background: linear-gradient(to right,
            #ff6b6b,
            #f8e08d,
            #6bd4ff,
            #a06bff,
            #ff6b6b);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    /* penting untuk Chrome/Safari */
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* penting untuk Safari */
    animation: gradient-text-flow 10s linear infinite;
}
.montserrat{
    font-family: "Montserrat", sans-serif; }